.title {
  text-align: center;
  font-size : 4rem;
}

.titleSuffix {
  color: rgb(39, 46, 255);
}

.auth {
  text-align: center;
}

.logIn {
  font-size  : 2.625rem;
  font-weight: 600;
  cursor     : pointer;
}

.signUp {
  color      : rgb(39 46 255);
  font-size  : 2.625rem;
  font-weight: 600;
  cursor     : pointer;
}

.authSeperator {
  font-size: 2.625rem;
}